<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box" class="mat-elevation-z12">
    <mat-card-header color="accent">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <form class="example-form" (ngSubmit)="login()">

      <mat-card-content>

        <mat-form-field class="example-full-width">
          <input matInput type="email" name="email" [(ngModel)]="email" placeholder="Enter email Id" required>
        </mat-form-field>

        <br>

        <mat-form-field class="example-full-width">
          <input matInput type="password" name="password" [(ngModel)]="password" placeholder="Enter Password" required>
        </mat-form-field>

      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block mat-success">Login</button>
      <div class="title-center"><br>New User<a [routerLink]='["/Register"]'><br>Register</a></div>

    </form>
    <div class="form-group">
      <p *ngIf="errorMessage.length > 0" class="text-danger">
        {{errorMessage}}</p>

      <p *ngIf="error.message.length > 0" class="text-danger">
        {{error.message}} </p>
    </div>
  </mat-card>
</div>