<br>
<br>
<br>
<mat-card id="card" style="text-align: center;">
  <header>
    <h1>Contact Us </h1>
    <mat-icon>facebook</mat-icon>
    <mat-icon>whatsapp</mat-icon>
  </header>
  <div class="content">

    <form>
      <mat-form-field>
        <input matInput placeholder="Name" required>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Enter your email" required>
        <mat-icon matSuffix>drafts</mat-icon>
      </mat-form-field><br>
      <mat-form-field>
        <input type="tel" matInput placeholder="Telephone" required>
        <mat-icon matSuffix>call</mat-icon>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Subject" required>
        <mat-icon matSuffix>create</mat-icon>
      </mat-form-field><br>
      <mat-form-field>
        <textarea matInput placeholder="Comment or Feedback" required></textarea>
        <mat-icon matSuffix>save</mat-icon>
      </mat-form-field><br>
      <button mat-raised-button class="btn-custom">Send Now<i class="material-icons">
          send</i><br>
      </button>
      <p class="horizontal-line-text">
        <span>or</span>
      </p>
      <p>Directly Contact Us <br>
        Mobile: <a href="#">+91 7610850721</a><br>
        Mail: <a href="#">chinmaydhi123@gmail.com</a>
      </p>
    </form>

  </div>
</mat-card>