<div>
  <mat-toolbar>
    <span class="title-center">Property Details</span>
  </mat-toolbar>
  <div class="container ">
    <div class="row">
      <div class="content ">
        <hr class="invis">
        <div class="col-sm-6 col-md-4 col-lg-4 padding" *ngFor="let product of resultItems">
          <mat-card class="mat-elevation-z12 ">
            <mat-card-header>
              <mat-card-title>{{product.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{product.src}}">
            <div class="feature_2im2 clearfix">
              <h4 class="pull-right mgt"><a href="#" class="bg_4">For Rent</a></h4>
            </div>
            <mat-card-content>
              <p>
              <h2>{{product.description}}</h2> <br>
              {{product.details}}<br>
              {{product.price}}<br>
              <mat-icon> location_on</mat-icon>
              {{product.address}}

            </mat-card-content>

            <mat-card-actions>
              <button mat-button color="black">
                <mat-icon>favorite</mat-icon>Like
              </button>
              <button mat-button color="black" [routerLink]='["/Contact"]'>Contact-us</button>
              <button mat-button color="primary">
                <mat-icon>share</mat-icon> <a href="https://web.whatsapp.com/" color="primary">Share</a>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- properties for rent -->
<br>
<mat-toolbar>
  <span class="title-center">Properties For Rent</span>
</mat-toolbar>
<br>
<div class="about-box">
  <div class="container imagesss">
    <div class="row">
      <hr class="invis">
      <div class="top-feature owl-carousel owl-theme">
        <div class="item">
          <div class="single-feature">
            <div class="portfolio-items">
              <div class="col-sm-6 col-md-4 col-lg-4 div" *ngFor="let pro of proc">
                <div class="portfolio-item ">
                  <div class="hover-bg "> <a href="" data-lightbox-gallery="gallery1">
                      <div class="hover-text asdff">
                        <h4>
                          <br>{{pro.name}}
                          <h6><i class="fa fa-hotel col_2"></i> </h6>
                        </h4>{{pro.price}}
                        <h5><i class="fa fa-hotel col_2"></i> {{pro.Details}}</h5>

                        <section>
                          <div class="example-button-row">{{pro.description}}<br>

                          </div>
                        </section>
                      </div>
                      <img src="{{pro.src}}" class="img-responsive" alt="Project Title">
                    </a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>