<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box" class="mat-elevation-z12">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form" (ngSubmit)="register()">

      <mat-card-content>

        <mat-form-field class="example-full-width">
          <input matInput type="email" name="email" [(ngModel)]="email" placeholder="Enter E-mail Id" required>
        </mat-form-field>

        <br>

        <mat-form-field class="example-full-width">
          <input matInput type="password" name="password" [(ngModel)]="password" placeholder="Enter Password" required>
        </mat-form-field>


      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block mat-success">Register</button>
      <div class="register title-center"><br>Do you have an account ?<a [routerLink]='["/Login"]'> <br>Login</a></div>

    </form>

     <!-- <p class="horizontal-line-text">
      <span>or</span>
    </p>

    <button class="btn btn-block google-sign-in" (click)="signUpHandler()">
      <img [src]="'assets/Images/google.svg'" alt="google" />
      <span>SignIn with Google</span>
    </button> -->

    <div class="form-group">
      <p *ngIf="errorMessage.length > 0" class="text-danger">
        {{errorMessage}}</p>

      <p *ngIf="error.message.length > 0" class="text-danger">
        {{error.message}} </p>

      <p *ngIf="message.length > 0" class="text-info">
        {{message}} </p>
    </div>
  </mat-card>
</div>